.DS_Store
# notebooks
.ipynb_checkpoints
*.ipynb

# macOS
*.DS_Store
# Python
__pycache__/
*.pyc
# Jekyll
_site/
.sass-cache/
.bundle/
.jekyll-cache/
# Node.js
node_modules/
npm-debug.log
yarn-error.log
# VSCode
.vscode/
# Others
*.log
*.aux
*.out
*.toc
*.lof
*.lot