<div class="page__footer">
  <footer>
    <div class="page__footer-follow">
      <ul class="social-icons">
        <li><strong>Check out my socials:</strong></li>
        <li><a href="https://github.com/lorant-nagy"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
        <li><a href="https://instagram.com/ll00c11"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        <li><a href="https://linkedin.com/in/óránt-nagy-87b5a0101"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      </ul>
    </div>
  </footer>
</div>