<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}" style="align-self: flex-start; padding-top: 0.5em;">
            {{ site.title }}
        </a>
        <ul class="visible-links">
          <li class="masthead-contact" style="margin-left: auto; font-size: 0.5em; line-height: 1.4;">
            HUN-REN Rényi Institute of Mathematics<br>
            Budapest, Reáltanoda utca 13-15, 1053<br>
            <br>
            lorantnagy at renyi hu
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>