<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
        <ul class="visible-links">
          <li class="masthead-contact" style="margin-left: auto; font-size: 0.9em; line-height: 1.4;">
            <strong>Address:</strong><br>
            HUN-REN Rényi Institute<br>
            Budapest, Reáltanoda utca 13-15, 1053<br>
            <strong>Email:</strong> lorantnagy at renyi hu
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>